@font-face {
    font-family: "dana-black";
    src: url("fonts/dana-bold.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dana-black', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 500px;
    padding: 20px;
    height: 100%;
}

.profile-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%; 
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #007bff;
}

.full-name {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}

.job-title {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 20px;
}

.contact-me span{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #495057;
}

.contact-me span a {
    text-decoration: none;
    color: #007bff;
}

.resume-btn {
    width: 250px;
    height: 40px;
    background: #007bff;
    border: 0;
    border-radius: 3px;
}

.resume-btn a {
    text-decoration: none;
    color: #ffff;
}